<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="stat-card">
      
      </div>
    </div>

    <div class="col-lg-3">
    <div class="stat-card">
      <div class="card-top">
        <h2>Products</h2>
      </div>
      <%= @product_count %>
    </div>
    </div>

    <div class="col-lg-3">
    <div class="stat-card">
      <div class="card-top">
        <h2>categories</h2>
      </div>
      <%= @category_count %>
    </div>
    </div>
  </div>
</div>